<div class="map-section">
    <!-- <div class="container">
        <div class="map-info">
            <img src="img/logo-contact.png" alt="">
            <p>Lorem ipsum dolor sit amet, consec-tetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. </p>
        </div>
    </div> -->
    <div class="map">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d996.1922035616942!2d-78.9958771708526!3d-2.8829116604610165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMsKwNTInNTguNSJTIDc4wrA1OSc0My4yIlc!5e0!3m2!1ses-419!2sec!4v1591317922740!5m2!1ses-419!2sec"
            width="800" height="600" frameborder="0" style="border:0" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>

<br><br>
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>Contactos</h2>
                    <div class="header-info-box">
                        <div class="hib-icon">
                            <img src="../../../assets/img/icons/phone.png" alt="" class="">
                        </div>
                        <div class="hib-text">
                            <h6>0995151717 - 0999008756</h6>
                            <p><a href="" class="__cf_email__" data-cfemail="74171b1a00151700341d1a10010700060d15181d1a175a171b19">info@bee.com</a></p>
                        </div>
                    </div>
                    <div class="header-info-box">
                        <div class="hib-icon">
                            <img src="../../../assets/img/icons/map-marker.png" alt="" class="">
                        </div>
                        <div class="hib-text">
                            <h6>Guillermo Garzón y José Canelos (Esquina)</h6>
                            <p>Cuenca - Ecuador</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Nombre">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Correo">
                        </div>
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Asunto">
                            <textarea class="text-msg" placeholder="Mensaje"></textarea>
                            <button class="site-btn" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>