<section class="about-section spad">
    <div style="margin-top: 50px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../assets/img/about.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <h5>Misión</h5>
                    <p>Ser una empresa dedicada a la asesoría y promoción de PYMES a precios competitivos mediante la adopción de metodologías agiles de desarrollo y gestión de proyectos, siendo un pilar fundamental el recurso humano calificado, con criterios
                        y conocimientos innovadores, apoyados en el crecimiento tecnológico con la finalidad de realizar productos de calidad que fidelicen a nuestros clientes/usuarios además de ser responsables con el ambiente y sociedad. </p>

                    <h5>Visión</h5>
                    <p>Ser en cinco años la empresa referente en soluciones de entregas a domicilio y promotora/ofertas de actividades de entretenimiento, apoyando el comercio y el marketing digital para las PYMES de la región sur del Ecuador, generando
                        procesos de calidad mediante una adecuada cultura organizacional con personal capacitado y comprometido. </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="milestones-section set-bg" data-setbg="../../../assets/img/milestones-bg.jpg">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="milestone">
                    <div class="milestone-icon">
                        <img src="../../../assets/img/icons/plug.png" alt="">
                    </div>
                    <div class="milestone-text">
                        <span>Clients</span>
                        <h2>725</h2>
                        <p>Nam ornare ipsum </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone">
                    <div class="milestone-icon">
                        <img src="../../../assets/img/icons/light.png" alt="">
                    </div>
                    <div class="milestone-text">
                        <span>Growth</span>
                        <h2>45%</h2>
                        <p>Nam ornare ipsum </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone">
                    <div class="milestone-icon">
                        <img src="../../../assets/img/icons/traffic-cone.png" alt="">
                    </div>
                    <div class="milestone-text">
                        <span>Projects</span>
                        <h2>59</h2>
                        <p>Nam ornare ipsum </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="milestone">
                    <div class="milestone-icon">
                        <img src="../../../assets/img/icons/worker.png" alt="">
                    </div>
                    <div class="milestone-text">
                        <span>Emploees</span>
                        <h2>138</h2>
                        <p>Nam ornare ipsum </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>