<section class="team-section spad">
    <div class="container">
        <div class="team-text">
            <h2>Para ser nuestro socio estratégico</h2>
            <p>
                Selecciona uno de nuestros servicios con los que puedes ser nuestro socio estratégico y a continuación llena el formulario y pronto te llamaremos para que empieces a generar ingresos en la mejor empresa del País
            </p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="team-member">
                    <img class="image-icon" src="../../../assets/img/bee/delivery.png" alt="" style="width: 140px; height: 180px;">

                    <div class="member-info">
                        <h3>Delivery</h3>
                        <p>Vende como delivery</p>
                        <a [routerLink]="['/form', 'delivery']" class="site-btn">Enviar Formulario</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <img class="image-icon" src="../../../assets/img/bee/taxis.png" alt="" style="width: 150px; height: 180px;">

                    <div class="member-info">
                        <h3>Taxis</h3>
                        <p>Crea tus eventos</p>
                        <a [routerLink]="['/form', 'taxi']" class="site-btn">Enviar Formulario</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <img class="image-icon" src="../../../assets/img/bee/restaurantes.png" alt="" style="width: 180px; height: 180px;">
                    <div class="member-info">
                        <h3>Restaurante</h3>
                        <p>Vende como delivery</p>
                        <a routerLink="" class="site-btn">Enviar Formulario</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-icon" class="team-member">
                    <img class="image-icon" src="../../../assets/img/bee/tickets.png" alt="" style="width: 120px; height: 180px;">

                    <div class="member-info">
                        <h3>Eventos</h3>
                        <p>Crea tus propios eventos</p>
                        <a [routerLink]="['/form', 'evento']" class="site-btn">Enviar Formulario</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>