<footer class="footer-section spad" style="background-color: #000000;">
    <div style="margin-top: 53px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget about-widget">
                    <img src="../../../assets/img/logo-light.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consec-tetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu et commodo interdum. </p>
                    <div class="footer-social">
                        <a href="#" style="background-color: darkgray;"><i class="fa fa-facebook" ></i></a>
                        <a href="#" style="background-color: darkgray;"><i class="fa fa-twitter"></i></a>
                        <a href="#" style="background-color: darkgray;"><i class="fa fa-dribbble"></i></a>
                        <a href="#" style="background-color: darkgray;"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h2 class="fw-title">Useful Resources</h2>
                    <ul>
                        <li><a href="#">Jobs Vacancies</a></li>
                        <li><a href="#">Client Testimonials</a></li>
                        <li><a href="#">Green Energy</a></li>
                        <li><a href="#">Chemical Research</a></li>
                        <li><a href="#">Oil Extractions</a></li>
                        <li><a href="#">About our Work</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h2 class="fw-title">Our Solutions</h2>
                    <ul>
                        <li><a href="#">Metal Industry</a></li>
                        <li><a href="#">Agricultural Engineering</a></li>
                        <li><a href="#">Green Energy</a></li>
                        <li><a href="#">Chemical Research</a></li>
                        <li><a href="#">Oil Extractions</a></li>
                        <li><a href="#">Manufactoring</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="footer-widget">
                    <h2 class="fw-title">Contact Us</h2>
                    <div class="footer-info-box">
                        <div class="fib-icon">
                            <img src="../../../assets/img/icons/map-marker.png" alt="" class="">
                        </div>
                        <div class="fib-text">
                            <p>Main Str, no 23 NY,<br>New York PK 23589</p>
                        </div>
                    </div>
                    <div class="footer-info-box">
                        <div class="fib-icon">
                            <img src="../../../assets/img/icons/phone.png" alt="" class="">
                        </div>
                        <div class="fib-text">
                            <p>+546 990221 123<br><a href="https://colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="13707c7d67727067537a7d77666067616a727f7a7d703d707c7e">[email&#160;protected]</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</footer>